@model IEnumerable<BookStore.vModel.Item>
@{
    ViewBag.Title = "DeleteBook";
}

@if (ViewBag.Message != null)
{
    <span><b>@ViewData["Message"]</b></span>
}

<h2>Артикули</h2>
<div class="courses-list">

        <table>
            <tr>
                <th>Артикул </th>
                <th>| Изтриване | </th>
                <th>Редакция</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.Label(item.Name)</td>
                    <td><a href="@Url.Action("DeleteBook", "AddEditDelete", new { id = item.Id }, null)">Изтрии</a> </td>
                    <td><a href="@Url.Action("EditItem", "AddEditDelete", new { id = item.Id }, null)">Редактирай</a> </td>
                </tr>
            }
        </table>
</div>

